*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cart-container1{
    width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.cart-container-img{
    width: 45%;
}

.cart-container-img img{
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
  text-align: center;
  width: 100%;
}

.cart-container-context{
    text-align: center;
    align-items: center;
    width: 40%;
}
.cart-container-context button{
    background-color: #ffbe33;
    border: none;
    padding: 8px 80px;
    color: white;
    font-weight: 800;
}
  