.checkout-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 900px;
    background-color: rgb(253, 247, 247);
    padding: 20px;
    z-index: 1000;
    border-radius: 8px;
    vertical-align: middle;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.checkout-container-form{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
  
.checkout-form {
    width: 75%;
    padding: 10px;
}
.delivery-form{
    padding: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.state-zip-container {
    display: flex;
    justify-content: space-between;
}
  
.state-zip-container .input-field {
    width: 48%;
}

.checkout-container-order{
    width: 70%;
    margin: auto;
}
.checkout-container-order button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffbe33;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.error-message{
    color: red;
    padding: 0;
}